/* CSS for top-navigation-bar */
.topnav, .bottomnav{
    background-color: #1d3064;
    color: white;
    position: fixed;
    width: 100%;
    margin: 0;
    z-index: 1;
    transition: top 0.3s;
}

.topnav{
    top: 0;
}

.bottomnav {
    bottom: 0;
}

.topnav a{
    color: white;
}

/* Top-navigation-bar links on mouse-over */
.topnav a:hover {
    background-color: #1d3040;
}

/* Active link */
.topnav a.active {
    background-color: #2a6cde;
}

.left-side{
    width: 40%;
    float: left;
    position: relative;
    height: 100%;
}

.right-side{
    width: 60%;
    float: right;
    position: relative;
    height: 100%;
}

.topnav button, .bottomnav button{
    padding: 5px;
    margin: 5px 5px;
    border: none;
    cursor: pointer;
    background: #c9dcef;
    color: #000000;
    font-size: 20px;
    border-radius: 10px;
    width: 170px;
}

.input{
    padding: 5px;
    margin: 10px;
    font-size: 20px;
    border-radius: 5px;
    width: 150px;
}

.productsContainer{
    width: 70%;
    margin-left: 15%;
    margin-top: 10%;
    margin-bottom: 10%;
}


.link, .bottomnav, .topnav {
    padding: 15px 30px;
    font-size: 20px;
    display: inline-block;
    transition: 0.3s;
}
.left-side p{
    padding-left: 30px;
}

.nav{
    float: right;
    margin-right: 100px;
    text-align: center;
}


/* Responsiveness for top-navigation-bar*/
@media screen and (max-width: 420px){
    .link{
        font-size: 20px;
        padding: 5px;
    }

    .nav{
        margin: auto;
        float: none;
        width: fit-content;
    }

    .topnav{
        position: relative;
    }

    .links{
        width: fit-content;
        margin: auto;
    }
}