/* CSS for top-navigation-bar */
.topnav, .bottomnav{
    background-color: #1d3064;
    color: white;
    width: 100%;
    margin: 0;
    z-index: 1;
    transition: top 0.3s;
}

.topnav{
    top: 0;
    position: static;
}

.bottomnav {
    bottom: 0;
    overflow: hidden;
}

.topnav a{
    color: white;
}

.cartOverview{
    margin-right: 5%;
    float: right;
    position: sticky;
    display: inline-block;
}

a.cartOverview{
    color: black;
    text-decoration: none;
    font-size: 40px;
}

img{
    vertical-align: middle;
}

/* Top-navigation-bar links on mouse-over */
.topnav a:hover {
    background-color: #1d3040;
}

/* Active link */
.topnav a.active {
    background-color: #2a6cde;
}

.left-side{
    width: 40%;
    float: left;
    position: relative;
    height: 100%;
}

.right-side{
    width: 60%;
    float: right;
    position: relative;
    height: 100%;
}

.topnav button, .bottomnav button{
    padding: 5px;
    margin: 5px 5px;
    border: none;
    cursor: pointer;
    background: #c9dcef;
    color: #000000;
    font-size: 20px;
    border-radius: 10px;
    width: 170px;
}

.input{
    padding: 5px;
    margin: 10px;
    font-size: 20px;
    border-radius: 5px;
    width: 150px;
}

.productsContainer{
    margin: 0 auto;
    padding: 25px 10px;
}


.link, .bottomnav, .topnav {
    padding: 15px 30px;
    font-size: 20px;
    display: inline-block;
    transition: 0.3s;
}
.left-side p{
    padding-left: 30px;
}

.nav, .userLogInReg{
    float: right;
    margin-right: 20px;
    text-align: center;
}

.productSpecificationContainer {
    width: 50%;
    margin-left: 15%;
    margin-top: 10%;
    margin-bottom: 10%;
}


/* Responsiveness for top-navigation-bar*/
@media screen and (max-width: 420px){
    .link{
        font-size: 20px;
        padding: 5px;
    }

    .nav{
        margin: auto;
        float: none;
        width: fit-content;
    }

    .topnav{
        position: relative;
    }

    .links{
        width: fit-content;
        margin: auto;
    }
}

.button-wrapper{
    display: flex;
    justify-content: space-between;
}

#card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 300px;
    padding: 5px;
    margin: 10px;
}

.content{
    padding: 20px;
}

#itemsInCart{
    margin-top: 20px;
}